<% layout("/layout/boilerplate") %>

  <div class="alert alert-warning d-flex align-items-center" role="alert">
    <div>
      <h1>
        this is error : <%= message %>
      </h1>
      <p>Main Error : <%= err %> </p>
    </div>
  </div>