<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Route</title>
</head>
<style>
    body {
        font-family: 'Arial', sans-serif;
        background: linear-gradient( #ba7e7e, #9cc555 );
        color: #ffffff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

</style>

<body>

    <b>
        <h4> Hi,</h4>
        <h4>I am Home Route</h4>
        <h4> Welcome To Home Page</h4>
    </b>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


</body>

</html>